li {
    display: inline-block;
    font-size: 20px;
    border: 1px solid #444444;
    border-radius: 7px;
    padding: 14px;
    margin: 0 10px 10px 0;
}

li button {
    width: 40px; height: 40px;
    font-size: 30px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}